<h2>Created Events</h2>
<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.title, event_path(event)%><br>date: <%= event.event_date%><br><%=event.event_location%>
    </li>
  <% end %>
</ul>
